.title {
  text-align: center;
  color: rgb(89, 89, 213);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 1440px) {
      width: 40px;
        height: 40px;
      }
  
    
}
